---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<a {...props} class="navlink">
  <slot />
</a>

<style>
  .navlink {
    text-decoration: none;
    color: var(--color-text);
    font-size: var(--step-2);
    padding-bottom: 0.3rem;
  }

  .navlink:hover,
  .navlink:active {
    border-bottom: 0.2rem solid var(--color-cta);
  }
</style>
