---
// Default theme
// import "@splidejs/splide/css";
---

{
  /*
<section class="splide">
  <h2>Splide Basic HTML Example</h2>
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">Slide 01</li>
      <li class="splide__slide">Slide 02</li>
      <li class="splide__slide">Slide 03</li>
      <li class="splide__slide">Slide 04</li>
      <li class="splide__slide">Slide 05</li>
      <li class="splide__slide">Slide 06</li>
      <li class="splide__slide">Slide 07</li>
      <li class="splide__slide">Slide 08</li>
      <li class="splide__slide">Slide 09</li>
    </ul>
  </div>
</section>
*/
}

{
  /*
<script>
  import Splide from "@splidejs/splide";

  var splide = new Splide(".splide");
  splide.mount();
</script>

*/
}

<section id="gallery" class="gallery">
  <h2 class="gallery__title">Artwork gallery</h2>
  <p>Coming September 2024</p>
</section>

<style>
  .gallery {
    padding: 0 var(--step-2);
    max-width: var(--container-wide);
    margin: 0 auto;
    width: 100%;
  }

  .gallery__title {
    display: inline-block;
    font-size: var(--step-3);
    margin-bottom: 2rem;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid var(--color-cta);
  }
</style>
