<section class="download" id="download">
  <h2 class="download__title">Get the EP</h2>

  <article id="download" class="download__links">
    <a
      class="download__link"
      download="killer-of-giants-ep-mp3"
      href="/download/killer-of-giants-ep-mp3.zip">Download MP3</a
    >
    <a
      class="download__link"
      download="killer-of-giants-ep-wav"
      href="/download/killer-of-giants-ep-wav.zip">Download WAV</a
    >
  </article>
</section>

<style>
  .download {
    padding: 0 var(--step-2);
    max-width: var(--container-wide);
    margin: 0 auto;
    width: 100%;
  }

  .download__title {
    display: inline-block;
    font-size: var(--step-3);
    margin-bottom: 2rem;
    padding-bottom: 0.1rem;
    border-bottom: 0.2rem solid var(--color-cta);
  }

  .download__links {
    display: flex;
    gap: var(--step-3);
  }

  .download__link {
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem var(--step-3);
    background-color: var(--color-cta);
    color: var(--color-text);
  }

  .download__link:hover,
  .download__link:focus-visible {
    opacity: 0.75;
  }
</style>
